html,body{
  //height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("../../assets/images/bg.gif");
  font-family: sans-serif;
}

.container{
  margin: 0 15px;
}

.arrow{
  filter: invert(1);
  margin-top: 50px;
  width: 75px;
  height: 65px;
}

.block{
  transition: transform 0.1s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

.header{
  .logo{
    margin-top: 15px;
    text-align: center;
    &__title{
      font-size: 5em;
      color: black;
      -webkit-text-stroke: 1px #FFEE58;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__subtitle{
      color: white;
      margin: -10px 0;
      font-size: 1em;
    }
  }
}

.main-content {

  .categories-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 0;

    @media(max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media(max-width: 576px) {
      margin: 100px 0 0;
    }

    .block {
      width: 400px;
      height: 200px;
      position: relative;
      text-align: center;
      cursor: pointer;
      margin-right: 50px;
      margin-bottom: 40px;
      @media(max-width: 576px) {
        margin-right: 0;
      }

      &:last-child {
        @media(max-width: 576px) {
          margin-bottom: 80px;
        }
      }

      &:first-child {
        h2 {
          color: #E53935;
        }
      }

      &:last-child {
        h2 {
          color: #FFEE58;
        }
      }

      &__title {
        position: relative;
        font-size: 28px;
        color: white;
        top: 60%;
        display: block;
        background-color: #00000094;
        text-transform: uppercase;
      }
    }
  }

  .characters-wrapper {
    .all-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 50px 100px;
      justify-content: center;

      .block {
        max-width: 200px;
        max-height: 330px;
        margin-right: 35px;
        margin-bottom: 60px;
        cursor: pointer;

        &:nth-child(5) {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .image {
          margin-bottom: -5px;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        .name-wrapper {
          background: white;
          text-align: center;
          padding: 10px 0;

          .name {
            margin: 0;
          }
        }
      }
    }

    .personal-information-wrapper {
      display: none;
      padding-bottom: 50px;
      margin: 50px 100px;

      .info-wrapper {
        display: flex;
        width: 100%;
        height: 500px;
        .other {
          margin-right: 50px;
          background: white;
          width: 800px;
          overflow: scroll;
          height: 500px;

          .title {
            text-align: center;
            padding: 0 20px;
            background: black;
            color: white;
            text-transform: uppercase;
          }

          .all-wrapper {
            display: flex !important;
            justify-content: space-around;
            margin: 10px;

            .block {
              margin-right: 0;

              .name-wrapper {
                height: 15px;
                background-color: black;
                color: white;
              }
            }
          }
        }

        .wrap {
          display: flex;

          .left-column {
            .img {
              height: 100%;
              width: 450px;
              object-fit: cover;
            }
          }

          .right-column {
            width: 320px;
            background: white;
            color: black;
            padding-left: 20px;

            p {
              font-size: 20px;
            }

            .name-block {
              font-size: 24px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  .loader-wrapper {
    display: none;
    height: 480px;
    align-items: center;
    .loader {
      display: block;
      margin: 0 auto;
      border: 16px solid #f3f3f3;
      border-top: 16px solid #FFEE58;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
