html,body{
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("../../assets/images/bg.gif");
  font-family: sans-serif;
}

.container{
  margin: 0 15px;
}

.block{
  transition: transform 0.1s ease-in-out;
  &:hover{
    transform: scale(1.05);
  }
}

.header{
  .logo{
    margin-top: 25px;
    text-align: center;
    &__title{
      font-size: 4em;
      color: black;
      -webkit-text-stroke: 1px #FFEE58;
      font-weight: bold;
      text-transform: uppercase;
    }
    &__subtitle{
      color: white;
      margin: -10px 0;
      font-size: 1em;
      //margin-top: -1em;
      //margin-bottom: 1em;
    }
  }
}

.main-content {
  .categories-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 0;

    @media(max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media(max-width: 576px) {
      margin: 100px 0 0;
    }

    .block {
      width: 400px;
      height: 200px;
      position: relative;
      text-align: center;
      cursor: pointer;
      margin-right: 50px;
      margin-bottom: 40px;
      @media(max-width: 576px) {
        margin-right: 0;
      }

      &:last-child {
        @media(max-width: 576px) {
          margin-bottom: 80px;
        }
      }

      &:first-child {
        a {
          color: #E53935;
        }
      }

      &:last-child {
        a {
          color: #FFEE58;
        }
      }

      &__title {
        position: relative;
        font-size: 28px;
        color: white;
        top: 60%;
        display: block;
        text-decoration: none;
        background-color: #00000094;
        text-transform: uppercase;
      }
    }
  }

  .characters-wrapper {
    .all-people-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 100px 100px 0;
      justify-content: center;

      .block {
        max-width: 200px;
        max-height: 330px;
        margin-right: 35px;
        margin-bottom: 20px;
        cursor: pointer;

        &:nth-child(5) {
          margin-right: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .image {
          width: 100%;
          margin-bottom: -4px;
        }

        .name-wrapper {
          background: white;
          text-align: center;
          padding: 10px 0;

          .name {
            margin: 0;
          }
        }
      }
    }

    .person-information-wrapper {
      display: none;
      padding-bottom: 100px;
      margin: 100px 100px 0;
      .info-wrapper {
        display: flex;
        width: 100%;
        //
        .other-people {
          //height: 100%;
          margin-right: 50px;
          background: white;
          width: 800px;
          overflow: scroll;
          height: 555px;
          .title{
            text-align: center;
            padding: 0 20px;
            background: black;
            color: white;
            text-transform: uppercase;
          }
          .all-people-wrapper{
            display:flex !important;
            justify-content: space-around;
            margin: 10px;
            .block{
              margin-right: 0;
              .name-wrapper{
                background-color: black;
                color: white;
              }
            }
          }
        }

        .wrap {
          display: flex;
          width: 100%;
          .left-column {
            .img__person {
              height: 100%;
            }
          }

          .right-column {
            width: 320px;
            background: white;
            color: black;
            font-size: 18px;
            padding-left: 20px;
            p{
              font-size: 24px;
            }
            .name {
              font-size: 32px;
              text-transform:uppercase;
            }
          }
        }
      }
    }
  }
}
